body {
    background-image: url("/RebeccaDarling/mainbackground3.png");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
     width:auto;
      height: auto;

  }
