body {
    background-image: url("/DarlingTech2/images/AboutMeBackground_page.png");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
     width:auto;
      height: auto;

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
  }
  
  #sidebar {
    position: fixed;
    z-index: 99999;
    width: 175px;
    height: 100vh;
    background-color: #151516;;
    left: -250px;
    transition: all 800ms ease-in-out;
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #ffffff;
    margin-bottom: 5px;
     
     
  }
  
  #sidebar.active {
    left: 0px;
    opacity: 0.8;
  }
  
  ul {
    width: 100%;
    margin-top: 100px;
  }
  
  li {
    list-style: none;
    padding: 20px 20px;
    text-align: center;
  }
   

  
  a {
    text-decoration: none;
    color: #EEEEEE;
    font-family: 'roboto';
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: small;
    
  }
  a:hover {
    color: red;
  }
  
  #heading h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  @media (max-width: 600px) {
    #sidebar.active {
      width: 70vw; 
      
    }
  
    img {
      top: 30px;
      left: 50%;
      transform: translate(-50%);
    }
  
    #sidebar .toggle-btn {
      left: 350px;
      
    }
  }
  
