body {
    background-image: url("https://github.com/RebeccaDarling/RebeccaDarling/blob/83fe1cbaa373771e7a5bd7cfa2ed46386dc9c283/mainbackground3.png");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
     width:auto;
      height: auto;

  }
